/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
    font-family: Arial, Helvetica, sans-serif;
  	 background:url(../images/bg.png);
}
.wrap{
	  width:100%;
	  margin:0 auto;
}
.header{
	border-top:10px solid #F09609;
	padding:0 5px;
}
.logo{
	 float:left;
	 background:#F09609;
	 padding:15px 5px;
	 width:30%;
	 text-align:center;
}
.logo h1{
	font-size:0.5em;
	color:#FFF;
	text-transform:uppercase;
}

/** Social Icons **/
.social-icons {
	float: right;
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.social-icons li {
	float: left;
	width:34px;
  	background:url(../images/list-bg-3.png) no-repeat;
	height:75px;
	padding: 0px;
	margin: 0;
	cursor:pointer;
}
.social-icons li:hover{
  		background:url(../images/list-hover3.png) no-repeat;
}
.social-icons li a{
	height:30px;
	width:30px;
	display: block;
	text-indent: -9999px;
	background:url(../images/social-icons.png);
	margin-left:-3px;
	margin-top:0px;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.googleplus {
	background-position: -440px top;
}
.content{
	text-align: center;
	color:#FFF;
	margin:15px 0;
	padding:0 5px;
}
.content h2{
	color:#F09609;
	font-size:1em;
}
.sub_content{
	margin-bottom:15px;
}
.sub_content p{
	font-size:0.6em;
	line-height:1.8em;
	color:#858585;
	padding-top:10px;
}
.sub_content p span{
	font-size:1em;
    color:#F09609;
}
/** Countdown */
#countdown {
    padding:20px 0px;
	background:#F5F5F5;
	border:1px solid #ccc;
}
.dash {
	width:22%;
	height:50px;
	margin-left:6px;
	float: left;
	position: relative;
}
.dash .digit {
	font-size:2.2em;
   	margin:3px 0 0 6px;
   	width:15px;
	font-weight: bold;
	float: left;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color: #ea8400;
	position: relative;
}
.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	text-align:center;
	 font-size:0.6em;
   	 width:50px;
	color:#858585;	
}

.searchbox {
	border:2px solid #F09609;
	background:#F09609;
	width: 94.9%;
    margin:15px auto  0 auto;
	padding: 4px;
	overflow: hidden;
}
.search {
	padding: 6px 5px;
	width: 62.9%;
	height: 20px;
	border:none;
	color:#888;
	outline:none;
	font-size:0.7em;
	background:#F5F5F5;
}
.submit {
	background: #fff url(../images/tall-button-overlay.png);
	width:30.3%;
	height: 30px;
	cursor: pointer;
	font-size:0.8em;
	margin: 0 auto;
	text-align: center;
	color: #555;
	border: 1px solid #DCDDDD;	  
  }
.submit:hover {
	 background: #F5F5F5;
 } 
.copy_right{
	text-align:center;
}
.copy_right p{
	font-size:11px;
	color:#808080;
}
.copy_right p a{
	color: #F09609;
}
.copy_right p a:hover{
    text-decoration:underline;
}